@charset "UTF-8";

/* 내비게이션 서식 */

/* 1. 메뉴서식 */
.gallery{
  width:1240px;
  margin:0 auto;
}
.gallery h3{
  text-align:center;
  line-height:60px;
  font-size:20px;
}
.g_nav{
  height:50px;
  border-bottom:3px solid #000;
}
.g_nav > ul{
  display:flex;
  justify-content:center;
}
.g_nav > ul > li{margin:0px 10px;}
.g_nav > ul > li > a{
  font-size:15px;
  background:#000;
  color:#fff;
  padding:4px 14px 5px 14px;
  border-radius:40px;
}
.act{background:#cf068c !important;}

/* 2. 이미지 목록서식 */
.g_list{
  display:flex;
  padding:20px;
  flex-wrap:wrap; /* 다음줄로 자동넘김 */
}
.g_list > li{
  width:25%; height:200px;
  overflow:hidden;
  position:relative;
}
.g_list > li > a img{
  width:100%;
  transition:0.3s;
  opacity:0.8;
}
.g_list > li > a:hover img{
  transform:scale(1.1);
  opacity:1;
}
.caption{
  display:block;
  background:rgba(0, 0, 0, .7);
  line-height:40px;
  color:#fff;
  position:absolute;
  bottom:-40px; left:0px;
  text-indent:10px;
  width:100%;
}